[package]
name = "markdown2pdf"
version = "0.2.2"
edition = "2021"
authors = ["Ismael Sh <me@theiskaa.com>"]
description = "Create PDF with Markdown files (a md to pdf transpiler)"
readme = "README.md"
license = "MIT"
keywords = ["md", "markdown", "pdf", "markdown-to-pdf", "markdown2pdf"]
repository = "https://github.com/theiskaa/markdown2pdf"

[lib]
name = "markdown2pdf"
path = "src/lib/lib.rs"

[[bin]]
name = "markdown2pdf"
path = "src/bin/main.rs"

[features]
default = []
fetch = ["dep:reqwest"]
rustls-tls = ["fetch", "reqwest/rustls-tls"]
native-tls = ["fetch", "reqwest/native-tls"]

[dependencies]
log = "0.4"
genpdfi = "0.2.7"
dirs = "4.0.0"
toml = "0.8.19"
rust-embed = "8.5.0"
clap = { version = "4.0", features = ["derive"] }
reqwest = { version = "0.12.9", features = [
    "blocking",
], default-features = false, optional = true }
printpdf = "0.7.0"

[profile.release]
lto = "thin"
codegen-units = 1
strip = true

# The profile that 'dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"
